extends layout

block content
  h1 Categories

  form(method='POST' action='')
    div.form-group
      label Category A
      input(type='radio', name='category', value='A')
      <br>
      label Category B
      input(type='radio', name='category', value='B')
      <br>
      label Category C
      input(type='radio', name='category', value='C')
      <br>
      label Category D
      input(type='radio', name='category', value='D')
      <br>
      label Category E
      input(type='radio', name='category', value='E')
      <br>
      <br>
    button.btn.btn-primary(type='submit') Submit
      
