extends layout

block content
  h1 Categories

  form(method='POST' action='')
    div.form-group
      label Category 1
      input(type='radio', name='category', value='1')
      <br>
      label Category 2
      input(type='radio', name='category', value='2')
      <br>
      label Category 3
      input(type='radio', name='category', value='3')
      <br>
      label Category 4
      input(type='radio', name='category', value='4')
      <br>
      label Category 5
      input(type='radio', name='category', value='5')
      <br>
      <br>
    button.btn.btn-primary(type='submit') Submit
      
