extends layout

block content
  h1 Select a category

  p 
    | Live Category: 
    if completed
      | (Completed) #{liveCategory.name}
    else 
      a(href='/category_questions') #{liveCategory.name}
      
  each category in categories
    if category.name !== liveCategory.name
      dt Pending: #{category.name}
  
  <br>
  a(href='/login') SignOut

